$admonition-note-color:         #5ae;
$admonition-danger-color:       #e43;
$admonition-important-color:    #f91;

.admonition {
    margin: 20px 0;
    padding: 15px 20px;
    border: 1px solid #e7e7e7;
    border-left-width: 6px;
    border-radius: 3px;
    overflow: hidden;

    &.note {
        border-left-color: $admonition-note-color;

        > .admonition-header {
            color: $admonition-note-color;
        }
    }

    &.danger {
        border-left-color: $admonition-danger-color;

        > .admonition-header {
            color: $admonition-danger-color;
        }
    }

    &.important {
        border-left-color: $admonition-important-color;

        > .admonition-header {
            color: $admonition-important-color;
        }
    }

    > .admonition-header {
        margin: 0 0 10px;
        font-size: 1.286em;
    }

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}
